.mail{

    flex: 4;
    
}

.mb-3{

    width: 800px; 
    background-color: rgb(220, 186, 211);  
     
}

.button{

    width: 100px;
}

/* .mform{
    background-color: rgb(243, 192, 227);
    width: 500px;
} */


