.slide-icon{
    display: none ;
}

@media screen and (max-width: 991px) {
    .slide-icon{
        display: block !important;
    }
    .slide-1{
        display: none;
    }
    .main-div{
        height: 100% !important;
    }
    .time-section{
        padding: 0!important;
    }

}
.main-div{
    height: 100%;
}

.logo-slide-bar{
    width: 60px;
}
.title-name{
    margin-left: 20px;
    font-size: 30px;
}
.main-body{
    background-color: #cd6f96;
}
.icon-nav-bar{
    position: absolute;
    width: 30px;
    margin-right: 20px;
    align-items: center;

}
.item {
    font-size: 18px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    height: 10px;
    margin-left: 50px !important;

}

.nav-pills .nav-bar-link.active, .nav-pills .show>.nav-bar-link{
    background-color: #C9447E !important;
}

.nav-bar-link:hover{
    color: white !important;
}

.nav-pills .nav-bar-link.active, .nav-pills .show>.nav-bar-link {
    height: 70px;
}

.log-out-btn{
    width: 60%;
    color: white !important;
    font-weight: bold !important;
    border-radius: 20px !important;
    background-color: #cd6f96 !important;
    border: none!important;
}

.log-out-btn:hover{
    background-color: #C9447E !important;
}
.btn-footer{
    margin-bottom: 20px;
}

